body {
    font: 12px/1.5 Tahoma;
    text-align: center;
}

code,
input,
button {
    font-family: inherit;
}

input {
    border: 1px solid #ccc;
    padding: 3px;
}

button {
    cursor: pointer;
}
